body{
    background-color: #000;
  }
  
  div{
    backgroung-color: #555;
    margin-bottom: 5px;
  }
  
  #container{
    background-color: grey;
    width: 800px;
    height: 500px;
    margin: auto; 
    padding: 20px;
    flex-direction: column-reverse;
  }
  
  .barras{
    height: 25px;
  }